@{
    ViewData["Title"] = "Home Page";
}


<section itemid="main">
<div class="hero-container">

<div class="hero-image">
            @* <img src="~/resources/bg (2).png" alt="cause Image"> *@
    <div class="hero-text">
        <h1>Mount Edgecombe Community NPO</h1>
        <p>Empowering Our Community, Honoring Our Legacy</p>
                <a class="donate-button" asp-area="" asp-controller="Paypal" asp-action="Index">Donate Now</a>

    </div>
</div>
</div>
</section>


<div class="content-6-mian">
    <div class="container">

        <!-- First Section: Image on the right, text on the left -->
        <div class="content-info-in first-section">
            <div class="col-lg-6">
                <img src="~/resources/vision.jpg" alt="cause Image">
            </div>
            <div class="about-right-faq">
                <div class="title-content">
                    <h3>VISION</h3>
                </div>
                <p>
                    The mission of the Mount Edgecombe and Estates Community Association is to celebrate the rich legacy of our forebears by acknowledging the invaluable contributions they made in shaping a prosperous future for their descendants. We aim to do this by empowering individuals and families by providing essential services, promoting education, health, sport and culture through community engagement. Through our collective efforts, we envision a brighter, more resilient community where everyone has the opportunity to flourish
                   </p>
            </div>
        </div>

        <!-- Second Section: Image on the left, text on the right -->
        <div class="content-info-in second-section">
            <div class="col-lg-6">
                <img src="~/resources/pic2.jpg" alt="Mission Image">
            </div>
            <div class="about-right-faq">
                <div class="title-content">
                    <h3>Mission</h3>
                </div>
                <p>
                    The Mount Edgecombe and Estates Community Association envisions preserving the legacy and spirit of our forebears by building a thriving and inclusive community. Our mission is to honor our heritage, celebrate our rich cultural diversity, and promote sustainable growth and development, ensuring a vibrant future for generations to come.

                    We strive to create a united and supportive environment where every individual feels valued and empowered to contribute to the community’s success. Through cultural events, educational programs, and initiatives aimed at social and economic development, we aim to bridge gaps, foster unity, and inspire innovation.

                    By nurturing a sense of pride and belonging, we seek to uphold the traditions and values passed down by those before us while embracing progress and modernity. Together, we aspire to be a beacon of hope and excellence, setting an example of resilience, cooperation, and shared prosperity for all communities to follow.
                </p>
            </div>
        </div>

    </div>
</div>


<!-- what we do -->
<section class="content-container" id="mission and cause">
    <div class="text-container">
        <h2>Inspiration</h2>
        
        <p>The Mount Edgecombe and Estates Community Association was established to commemorate the of the arrival of our forebears on the 4th March 1862. They arrived in this foreign country with hopes and dreams, and through their unwavering determination, they transformed those dreams into reality despite the numerous hardships they endured. Their legacy is one of resilience, strength, and community spirit. This organisation is committed to preserving and promoting the history, culture, and values that our ancestors cherished. We strive to keep their memory alive and to ensure that future generations understand and appreciate the struggles and triumphs of those who came before us.</p> 
       
       
    </div>
    <div class="image-container">
        <img src="~/resources/inspo1.jpg" alt="team" class="img-fluid custom-img-size1" aria-describedby="team-description">

        <span id="team-description" class="visually-hidden"> participating in an event or activity.</span>
    </div>
</section>

<section class="content-container1" id="Volunteer">
    <div class="image-container">
        <img src="~/resources/MECNPO.jpg" alt="team" class="img-fluid custom-img-size1" aria-describedby="team-description">

        <span id="team-description" class="visually-hidden">team participating in an event or activity.</span>
    </div>
    <div class="text-container">
        <h2>Meet the Team</h2>

        <p>
            The team at the Mountedgecombe Community NPO is a group of dedicated individuals bound by a shared love and commitment to the community they serve. They are united in their mission to make a lasting impact, whether it’s through feeding schemes, cultural initiatives, or honoring the legacy of those who came before them. Their passion for uplifting and supporting the local community shines through in every project they undertake. Every team member, from volunteers to leaders, is driven by the belief that together, they can create positive change and provide a brighter future for all. Their heart for service and the well-being of others is the backbone of the NPO, and their work is a testament to the power of community and the difference love can make..


        </p>
    </div>

</section>

<section class="npo-info">
    <div class="npo-info-container">
        <div class="npo-image">
            <img src="https://plus.unsplash.com/premium_photo-1664300347812-00e2b09646c5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHZvbHVudGVlcnxlbnwwfHwwfHx8MA%3D%3D" alt="NPO Image">
            <img src="https://plus.unsplash.com/premium_photo-1683121334505-907a00cf904c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dm9sdW50ZWVyfGVufDB8fDB8fHww alt="NPO Image">
            <img src="https://plus.unsplash.com/premium_photo-1661775317533-2163ba4dbc93?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dm9sdW50ZWVyfGVufDB8fDB8fHww" alt="NPO Image">
        </div>
        <div class="npo-description">
            <h2>What We Do</h2>
            <ul>
                <li><i class="icon">&#9733;</i> Feeding Schemes</li>
                <p class="description">We provide nutritious meals to vulnerable communities, ensuring no one goes hungry.</p>

                <li><i class="icon">&#9733;</i> Community Support</li>
                <p class="description">We offer support through various programs like health check-ups, job training, and family assistance.</p>

                <li><i class="icon">&#9733;</i> Cultural Events</li>
                <p class="description">We organize cultural events to celebrate traditions, promote unity, and foster cultural pride.</p>

                <li><i class="icon">&#9733;</i> Educational Programs</li>
                <p class="description">Our educational initiatives aim to uplift and empower individuals through learning opportunities.</p>

                <li><i class="icon">&#9733;</i> Volunteer Opportunities</li>
                <p class="description">We welcome volunteers who are passionate about making a positive impact in our communities.</p>
            </ul>
    <p class="more-info">For more information, feel free to reach out to us.</p>
<div class="button-container">
    <button class="contact-button">Contact Us
        <a href="https://wa.me/+27741349016" target="_blank">Whatsapp</a>
    </button>
</div>
</div>
</section>
<style>
  .more-info {
    text-align: center;
    margin-bottom: 10px; /* Adds space between text and button */
}

.button-container {
    text-align: center;
}

.contact-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: darkgray; /* Initial button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #28a745; /* Green color on hover */
}

</style>
       
            <section>
                <div class="sidenav">
        <a href="https://www.facebook.com/share/15TrDmJNwr/" id="facebook" target="_blank">
                      
                        <img src="~/resources/facebook.png" alt="" />


                    </a>
        <a href="https://www.instagram.com/mount_edgecombe_npo/" id="instagram" target="_blank">
                      
                        <img src="~/resources/insta1.jpeg" alt="" />
                    </a>
                    <a href="https://wa.me/+27741349016" id="whatsapp" target="_blank">
                      
                        <img src="~/resources/whatsapp1.png" alt="" />
                    </a>
                </div>
                </section>


<div class="iframe-container">
    <h2>Visit Our Beautiful Community</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d55459.15181701533!2d31.039594!3d-29.685068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef705b0cbd15917%3A0x9c4d1263ee53ab52!2sMount%20Edgecombe%2C%204302!5e0!3m2!1sen!2sza!4v1730899391379!5m2!1sen!2sza"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
          

